.UploaderSidebar {
  position: absolute;
  left: 0;
  top: 3rem;
  //5.5rem comes from styles section <header> and <footer> sizes
  height: calc(100% - 5.5rem);
  background-color: #d3d3d340;
  border-right: 1px solid black;
  max-width: 25rem;
  padding: 1rem;
}

.UploaderSidebar__input {
  display: flex;
  align-items: flex-end;
}

.UploaderSidebar__headers {
  display: flex;
}

.UploaderSidebar__left {
  flex: 0 0 7rem;
}

.UploaderSidebar__right {
  display: flex;
  flex: 1 0 0;

  moy-input { width: 100%; }
}

.UploaderSidebar__groupings-title {
  text-align: center;
  margin: 1rem;
}

.UploaderSidebar__groupings-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

// media sizes
@media only screen and (max-width: 90rem) {
  .UploaderSidebar {
    max-width: 25vw;
  }
}
