@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../libs/styles/moy-styles';
@import '../../libs/styles/components/moy-scrollbar';

.Vero section.body-height {
  height: calc(100vh - 5.5rem);
  padding-top: 4.5rem;
  margin-top: -4.5rem;
}
