.Config {
  display: flex;
  flex-flow: row wrap;
}

.Config__inputs {
  display: flex;
  flex-flow: row wrap;
}

.Config__single-input {
  flex: 1 0 13rem;

  &.fullWidth {
    min-width: 100%;
  }
}

.Config__elements-preview {
  flex: 1 0 15rem;
}
.Config__tabset {
  flex: 3 0 20rem;
}

.Config__empty-selection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--accentLight);
  font-size: 1.5rem;
  font-weight: 700;
  user-select: none;
}

.Config__empty-selection-arrow {
  font-size: 15rem;
}
