<moy-button [config]="backButton" (click)="goBack()"></moy-button>
<article class="Config">
  <elements-preview class="Config__elements-preview"
    [values]="selectedValues"
    [selected]="selectedSection"
    (onSelect)="onSelectPreview($event)"
  ></elements-preview>

  <div class="Config__tabset">
    <div *ngIf="INPUT_CONFIGS[selectedSection] as selectedConfig; else: selectOneMessage">
      <h1>{{ selectedConfig.title }}</h1>
      <div class="Config__inputs">
        <moy-input class="Config__single-input"
          *ngFor="let inputConfig of selectedConfig.inputs"
          [ngClass]="{ fullWidth: inputConfig.type === 'textarea' }"
          [config]="inputConfig"
          (onChange)="onUpdateFormValues(selectedSection, inputConfig.id, $event)"
        ></moy-input>
      </div>
    </div>
  </div>
</article>

<ng-template #selectOneMessage>
  <div class="Config__empty-selection">
    <p>Select one to edit some of its configurations.</p>
    <small>To unselect, simply click the section again</small>
    <span class="Config__empty-selection-arrow">&#x2936;</span>
  </div>
</ng-template>