.TransactionAdd {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.TransactionAdd__description {
  flex-grow: 1;
}
.TransactionAdd__amount {
  flex-grow: 1;
}
.TransactionAdd__tags {
  flex-grow: 2;
}
