.TransactionAdd {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.TransactionAdd__description {
  flex: 1 0 9rem;
}
.TransactionAdd__amount {
  flex: 1 0 9rem;
}
.TransactionAdd__tags {
  flex: 2 0 9rem;
}
