<div class="TransactionAdd" (keyup.enter)="onAdd()">
  <moy-input
    class="TransactionAdd__description"
    [config]="inputs.description"
    (keyup.enter)="inputs.amount.setFocus()"
  ></moy-input>
  <moy-input class="TransactionAdd__amount" [config]="inputs.amount" (keyup.enter)="inputs.tags.setFocus()"></moy-input>
  <moy-input class="TransactionAdd__tags" [config]="inputs.tags"></moy-input>
  <moy-button *ngIf="formValid" [config]="buttons.addFinance" (click)="onAdd()"></moy-button>
</div>
