<moy-loading-bar *ngIf="store.summaryCharts.monthly as _monthly" [config]="_monthly" class="Summary__monthly">
  <div loadingHeader [ngClass]="{ debt: _monthly.total - _monthly.loaded < 0 }">
    <strong>Monthly Balance: </strong>
    <strong class="balance">
      {{ _monthly.total - _monthly.loaded | number }}
    </strong>
  </div>
</moy-loading-bar>

<moy-loading-bar
  *ngIf="store.summaryCharts.accumulated_index as _accumulated"
  [config]="store.summaryCharts.accumulated_index"
  class="Summary__accumulated"
>
  <div loadingHeader [ngClass]="{ debt: _accumulated.loading < 0 }">
    <strong>Available Spend: </strong>
    <strong class="balance"> {{ _accumulated.loading | number }} </strong>
  </div>
</moy-loading-bar>
