<article class="ElementsPreview"
  [style.--primary]="values[AppConfigSections.Colors].primary"
  [style.--secondary]="values[AppConfigSections.Colors].secondary"
  [style.--accent]="values[AppConfigSections.Colors].accent"
  [style.--background]="values[AppConfigSections.Colors].background"
  [style.--text]="values[AppConfigSections.Colors].text">
  <div class="ElementsPreview__header b-top b-left b-right"
    [ngClass]="{ selected: selected === AppConfigSections.Header }"
    (click)="selectSection(AppConfigSections.Header)">
    <span class="ElementsPreview__header-background"></span>
    <img class="ElementsPreview__header-picture" [src]="values[AppConfigSections.Header].profile.src" />
  </div>

  <div class="ElementsPreview__body b-left b-right"
    [ngClass]="{ selected: selected === AppConfigSections.Body }"
    (click)="selectSection(AppConfigSections.Body)">
    <h1 class="ElementsPreview__body-title">{{ values[AppConfigSections.Body].title }}</h1>
    <p class="ElementsPreview__body-description">{{ values[AppConfigSections.Body].text }}</p>
  </div>

  <div class="ElementsPreview__sections b-bottom b-left b-right"
    [ngClass]="{ selected: selected === AppConfigSections.Sections }"
    (click)="selectSection(AppConfigSections.Sections)">
    <div class="ElementsPreview__sections-card"
      [ngStyle]="{ 'background-image': 'url(' + values[AppConfigSections.Sections].design.src + ')' }">
      <span class="ElementsPreview__sections-title">Designs</span>
    </div>
    <div class="ElementsPreview__sections-card"
      [ngStyle]="{ 'background-image': 'url(' + values[AppConfigSections.Sections].tattoo.src + ')' }">
      <span class="ElementsPreview__sections-title">Tattoos</span>
    </div>
  </div>

  <div class="ElementsPreview__colors b-left b-right b-bottom b-top"
    [ngClass]="{ selected: selected === AppConfigSections.Colors }"
    (click)="selectSection(AppConfigSections.Colors)">
    <span class="ElementsPreview__color-box"
      *ngFor="let color of ['primary', 'secondary', 'accent', 'background', 'text']"
      [ngStyle]="{ 'background-color': values[AppConfigSections.Colors][color] }"
    ></span>
  </div>
</article>
