<article class="ElementsPreview VeroHeader" [veroPalette]="values[AppConfigSections.Colors]">
  <div class="VeroHeader__wrapper b-top b-left b-right"
    [ngClass]="{ selected: selected === AppConfigSections.Header }"
    (click)="selectSection(AppConfigSections.Header)">

    <img class="VeroHeader__background" [src]="values[AppConfigSections.Header].background.src" />
    <img class="VeroHeader__profile" [src]="values[AppConfigSections.Header].profile.src" />

    <div class="VeroHeader__content">
      <ng-container *ngFor="let link of values[AppConfigSections.Header].icons; let count =count; let i = index; trackBy: iconFn">
        <div class="VeroHeader__space" *ngIf="i === count / 2 || i === (count - 1) / 2"></div>
        <mat-icon [ngStyle]="{ 'margin-top': count - (i + 1 >= ((count + 1) / 2) ? i : (count - 1) - i) + 'rem' }">
          {{ link.icon }}
        </mat-icon>
      </ng-container>
    </div>
  </div>

  <div class="ElementsPreview__body b-left b-right"
    [ngClass]="{ selected: selected === AppConfigSections.Body }"
    (click)="selectSection(AppConfigSections.Body)">
    <h1 class="ElementsPreview__body-title title">{{ values[AppConfigSections.Body].title }}</h1>
    <p class="ElementsPreview__body-description">{{ values[AppConfigSections.Body].text }}</p>
  </div>

  <div class="Home__sections b-bottom b-left b-right"
    [ngClass]="{ selected: selected === AppConfigSections.Sections }"
    (click)="selectSection(AppConfigSections.Sections)">
    <div class="Home__sections-card"
      [ngStyle]="{ 'background-image': 'url(' + values[AppConfigSections.Sections].design.src + ')' }">
      <span class="Home__sections-title">Designs</span>
    </div>
    <div class="Home__sections-card"
      [ngStyle]="{ 'background-image': 'url(' + values[AppConfigSections.Sections].tattoo.src + ')' }">
      <span class="Home__sections-title">Tattoos</span>
    </div>
  </div>

  <div class="ElementsPreview__colors b-left b-right b-bottom b-top"
    [ngClass]="{ selected: selected === AppConfigSections.Colors }"
    (click)="selectSection(AppConfigSections.Colors)">
    <span class="ElementsPreview__color-box"
      *ngFor="let color of ['primary', 'secondary', 'accent', 'background', 'text']"
      [ngStyle]="{ 'background-color': values[AppConfigSections.Colors][color] }"
    ></span>
  </div>
</article>
