.ElementsPreview {
  cursor: pointer;
  font-size: 0.75rem;
  margin: 0 0.5rem;
  max-height: 80vh;
  background-color: var(--background);

  .b-top {
    border-top: 1px solid black;
    padding-top: 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .b-left {
    border-left: 1px solid black; 
    padding-left: 0.5rem;
  }
  .b-right {
    border-right: 1px solid black; 
    padding-right: 0.5rem;
  }
  .b-bottom {
    border-bottom: 1px solid black; 
    padding-bottom: 0.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .b-top.b-bottom {
    border-radius: 0.25rem;
  }

  > :not(.selected) {
    margin: 0;
    transition: 0.25s;
  }
  > :hover,
  .selected {
    transition: 0.25s;
    border-color: var(--secondary);
    box-shadow: 0 0 4px 4px var(--accent);
    border-radius: 0.5rem;
  }
}

/* BODY */
.ElementsPreview__body {
  padding-bottom: 0.5rem;
    
  &.selected {
    transition: 0.125s;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.ElementsPreview__body-title {
  font-size: 0.8775rem;
  margin: 0;
  padding: 0.9975rem 0;
}

.ElementsPreview__body-description {
  margin: 0.75rem 0;
  font-size: 0.75rem;
}

/* COLORS */
.ElementsPreview .ElementsPreview__colors {
  margin: 1rem 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.ElementsPreview__color-box {
  flex: 1 0 0;
  height: 2.5rem;
  margin: 0 0.25rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
}

/* EXTERNAL OVERRIDES */
/* HEADER */
.VeroHeader__content {
  mat-icon {
    font-size: 0.75rem;
    text-align: center;
    padding: 0.25rem;
  }
}

.VeroHeader__wrapper {
  min-height: 5.625rem;

  &.selected {
    transition: 0.25s;
    margin-bottom: 1rem;
  }
}

.VeroHeader__background {
  border-radius: 0% 0% 50% 50%;
}

.VeroHeader__space {
  width: 5.625rem;
}

.VeroHeader__profile {
  height: 5.625rem;
}

/* SECTIONS */
.Home__sections {    
  &.selected {
    transition: 0.25s;
    margin-top: 1rem;
  }
}

.Home__sections-card {
  flex: 1 0 5rem;
  min-height: 5rem;
}
