.ElementsPreview {
  cursor: pointer;
  font-size: 0.75rem;
  margin: 0 0.5rem;
  max-height: 80vh;
  color: var(--text);
  background-color: var(--background);

  .b-top {
    border-top: 1px solid black;
    padding-top: 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .b-left {
    border-left: 1px solid black; 
    padding-left: 0.5rem;
  }
  .b-right {
    border-right: 1px solid black; 
    padding-right: 0.5rem;
  }
  .b-bottom {
    border-bottom: 1px solid black; 
    padding-bottom: 0.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .b-top.b-bottom {
    border-radius: 0.25rem;
  }

  > :not(.selected) {
    margin: 0;
    transition: 0.25s;
  }
  > :hover,
  .selected {
    transition: 0.25s;
    border-color: var(--secondary);
    box-shadow: 0 0 4px 4px var(--accent);
    border-radius: 0.5rem;
  }
}

/* HEADER */
.ElementsPreview__header {
  position: relative;
  min-height: 5.625rem;

  &.selected {
    transition: 0.25s;
    margin-bottom: 1rem;
  }
}

.ElementsPreview__header-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: calc(40% - 0.5rem);
  background-color: var(--primary);
  border-bottom: 0.5rem solid var(--background);
  border-radius: 0% 0% 50% 50%;
}

.ElementsPreview__header-picture {
  height: 5.625rem;
  border: 0.2rem solid var(--background);
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* BODY */
.ElementsPreview__body {
  padding-bottom: 0.5rem;
    
  &.selected {
    transition: 0.125s;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.ElementsPreview__body-title {
  font-size: 0.8775rem;
  margin: 0;
  padding: 0.9975rem 0;
}

.ElementsPreview__body-description {
  margin: 0.75rem 0;
  font-size: 0.75rem;
}

/* SECTIONS */
.ElementsPreview__sections {
  display: flex;
      
  &.selected {
    transition: 0.25s;
    margin-top: 1rem;
  }
}

.ElementsPreview__sections-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 5rem;
  min-height: 5rem;
  margin: 0.5rem;
  border: 0.3rem solid var(--secondary);
  border-radius: 0.25rem;
  background-size: cover;
  background-position: center;

  &:after {
    position: absolute;
    content: ' ';
    left: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    top: -0.25rem;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.ElementsPreview__sections-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--background);
  z-index: 1;
}

/* COLORS */
.ElementsPreview .ElementsPreview__colors {
  margin: 1rem 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.ElementsPreview__color-box {
  flex: 1 0 0;
  height: 2.5rem;
  margin: 0 0.25rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
}
