.Admin {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.Admin__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Admin__emoji {
  font-size: 4rem;
}
