@keyframes slide {
  from { transform: scaleY(0) translateY(-100%) };
  to { transform: scaleY(1) translateY(0) }
}

.BulkOptions {
  top: 0;
  position: sticky;
  padding: 0 3rem;
  display: flex;
  flex-flow: row wrap;
  background-color: var(--secondary);
  justify-content: space-between;
  color: var(--background);
  z-index: 1;
  box-shadow: 0px 0px 8px var(--purple);
  border-radius: 0 0 1rem 1rem;
  animation: slide 0.2s;

  ::ng-deep {
    .MoyInput .MoyInput__input {
      color: var(--background);
      border-bottom-color: var(--background);
    }

    .MoyInput__toggle {
      border-color: var(--background);
    }
  }
}
