@keyframes oscilating {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.Uploader {
  display: flex;
  flex-flow: column;
  position: relative;
  height: 100%;
}

.Uploader__expanders {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0;
  overflow: hidden;
  
  .selector-arrow {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    transform: rotate(0deg);
    transition: 0.5s;
  }

  .selected .selector-arrow {
    transform: rotate(90deg);
    transition: 0.5s;
  }
}

.Uploader__new-images {
  position: relative;
  max-height: 100%;
  overflow: auto;
  min-height: 2.25rem;

  &.selected {
    flex: 1 0 0;
  }

  ::ng-deep.ImageManager {
    height: calc(100% - 38px);
  }
}

.Uploader__new-images-selector {
  font-weight: 700;
  position: sticky;
  top: 0;
  background: var(--background);
  border-top: 2px solid var(--secondary);
  padding: 0.5rem;
  z-index: 1;
  cursor: pointer;
}

.Uploader__loading {
  font-size: 2rem;
  text-align: center;
  animation: oscilating 2s infinite;
}

.Uploader__image-list {
  overflow: auto;

  &:not(.selected) {
    margin-top: auto;
  }
}

.Uploader__no-images {
  text-align: center;
}

.Uploader__old-images-list {
  text-align: center;
  border-radius: 1rem;
  border: 1px dashed;
  padding: 1rem 0;
  margin-bottom: 1rem;

  &.base {
    border-color: var(--gray);
    background-color: var(--grayLight);
  }
  &.design {
    border-color: var(--accent);
    background-color: var(--accentLight);
  }
  &.tattoo {
    border-color: var(--secondary);
    background-color: var(--secondaryLight);
  }
}

.Uploader__button-options {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 3rem;
}

.Uploader__button-options-save-changes ::ng-deep.MoyButton {
  background-color: var(--accent);
}
