<article class="Uploader">
  <div class="Uploader__toolbar">
    <moy-button
      [config]="buttons.back"
      [confirmConfig]="{
        disableConfirm: !buttons.showSavedChanges,
        message: 'There are unsaved changes, leave the page?'
      }"
      (confirmClick)="router.navigateByUrl('admin')">
    </moy-button>
    <span *ngIf="buttons.showSavedChanges">There are changes!</span>
  </div>

  <div class="Uploader__expanders" *ngIf="(filesManager.new.file$ | async) as newFiles">
    <p *ngIf="filesManager.new.loading" class="Uploader__loading">loading...</p>

    <div class="Uploader__new-images" [ngClass]="{ selected: displayManager.displayView === DisplayView.New }">
      <div class="Uploader__new-images-selector"
        *ngIf="newFiles.length"
        (click)="displayManager.selectDisplay(DisplayView.New)">
        <mat-icon class="selector-arrow">navigate_next</mat-icon>
        New images ({{ newFiles.length }})
      </div>
      <image-manager *ngIf="newFiles.length && displayManager.displayView === DisplayView.New"
        [images]="newFiles"
        (updateImages)="updateImages('new', $event)"
        (save)="onSaveNewFiles()"
        (cancel)="onCancelNewUpload()">
      </image-manager>
    </div>

    <div class="Uploader__image-list" [ngClass]="{ selected: displayManager.displayView === DisplayView.Old }">
      <div class="Uploader__new-images-selector"
        *ngIf="newFiles.length"
        (click)="displayManager.selectDisplay(DisplayView.Old)">
        <mat-icon class="selector-arrow">navigate_next</mat-icon>
        Uploaded images
      </div>
      <ng-container *ngIf="displayManager.displayView === DisplayView.Old">
        <div class="Uploader__old-images-list base">
          <span>Hidden (config)</span>
          <image-manager
            [images]="filesManager.base.file$ | async"
            [options]="{ hideActions: true }"
            (updateImages)="updateImages('base', $event)"
          ></image-manager>
        </div>
        <div class="Uploader__old-images-list design">
          <span>Design</span>
          <image-manager
            [images]="filesManager.design.file$ | async"
            [options]="{ hideActions: true }"
            (updateImages)="updateImages('design', $event)"
          ></image-manager>
        </div>
        <div class="Uploader__old-images-list tattoo">
          <span>Tattoo</span>
          <image-manager
            [images]="filesManager.tattoo.file$ | async"
            [options]="{ hideActions: true }"
            (updateImages)="updateImages('tattoo', $event)"
          ></image-manager>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="Uploader__button-options">
    <moy-input [config]="inputs.file" (onChange)="onAddPictures($event)"></moy-input>
    <moy-button class="Uploader__button-options-save-changes"
      *ngIf="buttons.showSavedChanges"
      [config]="buttons.saveChanges"
      (confirmClick)="onSaveChanged()"
    ></moy-button>
  </div>

  <uploader-feedback [uploadState]="(imgStorageService.uploadState | async)"></uploader-feedback>
</article>
