<section class="Home">
  <moy-card [config]="cards.first">Holis</moy-card>

  <moy-card [config]="cards.second">
    <div class="Home__transaction-add">
      <moy-input class="Home__transaction-add--description" [config]="inputs.description"></moy-input>
      <moy-input class="Home__transaction-add--amount" [config]="inputs.amount"></moy-input>
      <moy-input class="Home__transaction-add--tags" [config]="inputs.tags"></moy-input>
      <moy-button [config]="buttons.addFinance" (click)="onAdd()"></moy-button>
    </div>
  </moy-card>
</section>
