.Home {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.Home__transaction-add {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.Home__transaction-add--description {
  flex-grow: 1;
}
.Home__transaction-add--amount {
  flex-grow: 1;
}
.Home__transaction-add--tags {
  flex-grow: 2;
}
